# ===
# == IDE settings files
# ===

# IntelliJ
/*.eml
/*.iml
/.idea

# Eclipse
/.project
/.classpath
/.settings

# ===
# == Compilation output / working files
# ===
out
builds
target
META-INF
dependency-reduced-pom.xml